{{ define "main" }}
    {{ $data := .Data }}
    <div style="min-height: calc(100vh - 8rem);">
      {{ if .Site.Params.category_text_color }}
        <article class="cf pa4-m" style=
        "background: {{.Site.Params.category_text_color | safeCSS}}; text-align: center;">
          <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links {{ $.Param "text_color" | default "mid-gray" }}">
            <h2>{{ i18n "taxonomyList" . }}</h2>
          </div>
        </article>
        <div class="mw8 center">
          <section class="ph4 pa4">
            {{ range $key, $value := .Data.Terms }}
            <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}" class="link blue hover-black">
              <div class="relative w-100 mb4 bg-white nested-copy-line-height card-item">
                <div class="bg-white pa4 gray overflow-hidden category-item">
                  <div class="category-img">
                    <img src="/web/img/folder.svg">
                  </div>
                  &nbsp
                  <div class="category-title">
                    <h1 class="f3 blue">
                        {{ $key }}
                    </h1>
                  </div>
                </div>
              </div>
            </a>
            {{ end }}
          </section>
        </div>
      {{else}}
          <article class="cf pa4-m" style=
          "background: white; text-align: center;">
            <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links {{ $.Param "text_color" | default "mid-gray" }}">
              <h2>{{ i18n "taxonomyList" . }}</h2>
            </div>
          </article>
          <div class="mw8 center">
            <section class="ph4">
              {{ range $key, $value := .Data.Terms }}
                <h2 class="f1">
                  <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}" class="link blue hover-black">
                    {{ $key }}
                  </a>
                </h2>
                {{ range $value.Pages }}
                  {{ .Render "summary" }}
                {{ end }}
              {{ end }}
            </section>
          </div>
      {{ end }}
    </div>
{{ end }}
