<nav class="pv1 ph3 ph4-ns" role="navigation">
  <script>
    function showList() {//調整 tooltip 在哪裡出現用
      var eParent = document.getElementById('mobile-mainmenu-btn');
      var eList = document.getElementById('mobile-mainmenu-list');    
      if(eList.style.display == 'grid')
      {
        hideList();
        return;
      }
      eParent.classList.toggle("change");  
      eList.style.display = 'grid'
      var oParentRect = eParent.getBoundingClientRect();//取出父元素位置和大小
      var oTipRect = eList.getBoundingClientRect();
      var fOriginalX = oParentRect.x;
      var fOriginalY = oParentRect.y + oParentRect.height;//預設出現在元素右下角
  
      eList.style.left = '0px';
      eList.style.top = fOriginalY + 'px';
      window.addEventListener("scroll", hideList);
      window.addEventListener('resize', hideList);
    }
    function hideList() {//調整 tooltip 在哪裡出現用
      var eParent = document.getElementById('mobile-mainmenu-btn');
      var eList = document.getElementById('mobile-mainmenu-list');
      eParent.classList.toggle("change");  
      window.removeEventListener("scroll", hideList);
      window.removeEventListener('resize', hideList);
      eList.style.display = 'none';
    }
  </script>
  <style>
    .mobile-mainmenu-btn {
      display: inline-block;
      cursor: pointer;
    }
    
    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 4px;
      background-color: aliceblue;
      margin: 6px 0;
      transition: 0.4s;
    }
    
    .change .bar1 {
      transform: translate(0, 11px) rotate(-45deg);
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
      transform: translate(0, -11px) rotate(45deg);
    }
    </style>
  <div class="flex-l justify-between items-center center">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-white no-underline white-90 dib">
      {{ with .Site.Params.site_logo }}
        <img src="{{ relURL . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>
    <div class="flex-l items-center">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <button type="button" id="mobile-mainmenu-btn" class="mobile-menu-btn" onclick="showList()">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </button>
        <ul id="mobile-mainmenu-list" class="mobile-menu-list">
          {{ range .Site.Menus.main }}
          <li class="mobile-menu-item list f4-ns">
            <a class="no-underline" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}" onclick="">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
        <ul class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }} pc-menu-items">
          {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
            <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>
</nav>
